/* MoonBox */
.moon::before {
    content: "";
    background-image: url('../images/dev-bg/moonboxbg.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    left: 0px;
    opacity: 0.4;
      
}

/* LeFrench */

.lefrench::before {
    content: "";
    background-image: url('../images/dev-bg/lefrenchbg.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    left: 0px;
    opacity: 0.4;
      
}

/* DreamNow */

.dream::before {
    content: "";
    background-image: url('../images/dev-bg/dreamnowbg.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    left: 0px;
    opacity: 0.4;
      
}

/* Aphrodite */

.aphr::before {
    content: "";
    background-image: url('../images/dev-bg/aphroditebg.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    left: 0px;
    opacity: 0.4;
      
}

/* Hachi */

.hachi::before {
    content: "";
    background-image: url('../images/dev-bg/hachibg.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    left: 0px;
    opacity: 0.4;
      
}

/* MoonLight */

.moonlight::before {
    content: "";
    background-image: url('../images/dev-bg/moonlightbg.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    left: 0px;
    opacity: 0.4;
      
}

/* Kurosawa */

.kurosawa::before {
    content: "";
    background-image: url('../images/dev-bg/kurosawabg.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    left: 0px;
    opacity: 0.4;
      
}

/* Other Dev */
