/* MoonBox */
.moon::before {
    content: "";
    background-image: url('../images/DevBack/Moonback.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    left: 0px;
    opacity: 0.4;
      
}

/* LeFrench */

.lefrench::before {
    content: "";
    background-image: url('../images/DevBack/LeFrenchBack.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    left: 0px;
    opacity: 0.4;
      
}

/* DreamNow */

.dream::before {
    content: "";
    background-image: url('../images/DevBack/DreamNowBack.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    left: 0px;
    opacity: 0.4;
      
}

/* Other Dev */
