/* MoonBox */
.moon::before {
    content: "";
    background-image: url('../images/dev-bg/Moonback.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    left: 0px;
    opacity: 0.4;
      
}

/* LeFrench */

.lefrench::before {
    content: "";
    background-image: url('../images/dev-bg/LeFrenchBack.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    left: 0px;
    opacity: 0.4;
      
}

/* DreamNow */

.dream::before {
    content: "";
    background-image: url('../images/dev-bg/DreamNowBack.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    left: 0px;
    opacity: 0.4;
      
}

/* Aphrodite */

.aphr::before {
    content: "";
    background-image: url('../images/dev-bg/AphroditeBack.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    left: 0px;
    opacity: 0.4;
      
}

/* Hachi */

.hachi::before {
    content: "";
    background-image: url('../images/dev-bg/HachiBack.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    left: 0px;
    opacity: 0.4;
      
}

/* MoonLight */

.moonlight::before {
    content: "";
    background-image: url('../images/dev-bg/MoonLightBack.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    left: 0px;
    opacity: 0.4;
      
}

/* Kurosawa */

.kurosawa::before {
    content: "";
    background-image: url('../images/dev-bg/KurosawaBack.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    left: 0px;
    opacity: 0.4;
      
}

/* Other Dev */
